$containerWidth: 940px;
$baseFontSize: 18px;

//colors
$black:#292929;
$gray:#666;
$white:#FFF;

$z-index-menu:100;

//breackpoints
$tablets: 768px;
$phones: 480px;
$mobiles: 390px;

@import "media";

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
@import "layout";


//components
@import "blocks/hero";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/phone-number";
@import "blocks/burger";
@import "blocks/features";
@import "blocks/feature";
@import "blocks/btn";
@import "blocks/section";
@import "blocks/headline";
@import "blocks/benefits";
@import "blocks/benefit";
@import "blocks/reviews";
@import "blocks/reviews__display";
@import "blocks/reviews__switcher";
@import "blocks/interactive-avatar";
@import "blocks/order-section";
@import "blocks/form";
@import "blocks/radio";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/contacts";
@import "blocks/socials";
@import "blocks/fixed-menu";









