.feature {
	display: flex;
}

.feature__icon {
	width: 2.5rem;
	margin-right: 0.3889rem;

	&-elem {
		fill: #fff;
		width: 41px;
		height: 41px;
	}
}

.feature__text {
	font-size: 0.8889rem;
	max-width: 4.72rem;
}