.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.logo {
	width: 55px;
	height: 39px;
	fill: white;
	display: flex;
	
	&:hover {
		cursor: pointer;
		opacity: .8;
		fill: azure;
	}
	@include tablets {
		&-container{
			display: none;
		}
	}
}

.phone-number.header__phone-number {
	@include tablets {
		display: none;
	}
}

.hero__header--blue-logo {
	display: none;

	@include tablets {
		display: block;
	}
}

.header--blue-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


