.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.logo {
	width: 55px;
	height: 39px;
	fill: white;
	display: flex;
	
	&:hover {
		cursor: pointer;
		opacity: .8;
		fill: azure;
	}
}

.phone-number.header__phone-number {
	@include tablets {
		display: none;
	}
}





