.hero-section {
	background: url("../img/image/bg.jpeg") top center / cover no-repeat #666;
	// height: 100vh;
	height: 100%;
	min-height: 36.2rem;
	color:#fff;
	position: relative;

	@include tablets {
		background: url("../img/image/bg-768.png") center center / cover no-repeat;
	}
}

// .hero__header--blue {	
// 	display: none;
// 	height: 91px;
// 	width: 100%;
// 	background: #1968B1;
// 	margin-top: auto;
// 	z-index: 1000;

// 	@include tablets {
// 		display: flex;
// 		position: fixed;
// 	}
// }

.hero__title-section {
	width: 46%;

	@include tablets {
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

.hero__icons-section {
	@include tablets {
		display: none;
	}
}

.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 1.3rem 0 2.5rem;

	@include tablets {
		position: static;
	}
}

.hero__main-title {
	font-size: 2.6667rem;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
	margin-bottom: 0.83rem;

	@include tablets {
		margin-bottom: rem(30px);
		padding: 0 5%;
	}

	@include phones {
		margin-bottom: rem(13px);
	}
}

.hero__title-desc {
	font-size: 1.1667rem;
	margin-bottom: 1.5556rem;

	@include tablets {
		margin-bottom: rem(45px);
	}

}