.menu {
	margin: 0 30px;
	padding-top: 5px;

	@include tablets {
		display: none;
	}
}

.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.menu__link {
	text-decoration: none;
	white-space: nowrap;
}

.menu__item {
	// margin-top: 10px;
	margin-right: 1.2rem;
	
	&:hover {
		color: azure;
		opacity: .8;
	}

	&:last-child {
		margin-right: 0;
	}
}