

.order-section {
 	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,0.5)), url('../img/image/bg-order.jpeg');
 	background-position: center center; 
 	background-size: cover; 
 	color: #fff;
 	height: 100vh;
 	min-height: 36.2rem;
}




