.overlay {
	display: none;
}

@include tablets {
	
	.overlay {
		height: 100%;
		width: 100%;
		background-color: #666;
		position: fixed;
		// top: 0;
		top: -100%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .4s;
		z-index: 10;

		&--active {
			top: 0;
			opacity: 1;
		}
	 }

	.menu__list{
			flex-direction: column;
		}


	.menu__item{
		margin-right: 0;
		margin-bottom: rem(47px);
		font-size: rem(36px);
		color: #fff;

		&:last-child {
			margin-bottom: 0;
		}
		
	}
}
