.product-menu-section {
	background: url('../img/image/bg-vert-accord.png') center center/cover no-repeat;
	position: relative;
	color: #fff;
}

.product-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;

	&-section__title{
		position: absolute;
		top: 5.625rem;
  	left: 5rem;
  	color: #fff;

		@include phones {
			font-size: rem(40px);
		}
	}

	&__item {
		display: flex;
	}

	&__title {
		position: relative;
		width: 100px;
	}

	&__img {
		width: 100%;
  	height: 100%;
  	display: block;
  	object-fit: cover;
		
		// @include tablets {
		// 	overflow: visible;
		// }
	}

	&__content {
		background: rgba(47, 50, 52, 0.9);
		width: 0;
		position: relative;
		overflow: hidden;
		transition: width .7s	;
	}

	&__container {
		padding: 40px 73px 45px 26px;
	}

	&__close {
		position: absolute;
		top: rem(20px);
		right: rem(25px);
		border: none;
		background: transparent;

		// &__icon{
		// 	fill: #fff;
			
		// }
	}

	&__text {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 50%;
		transform: rotate(-90deg) translateY(-50%);
		transform-origin: 0 0;
		white-space: nowrap;
		line-height: 1;
		font-size: 3rem;
		font-weight: bold;

		@include phones {
			font-size: rem(40px);
		}
	}
}

.section__title.product-menu-section__title {
	
	@include tablets {
		top: rem(85px);
		left: rem(40px);
		padding-top: 0;
	}
} 