.radio {
	display: flex;
	cursor: pointer;
	user-select: none;
	margin-right: 0.94rem;

	@include tablets {
		margin-right: 1.5rem;
		margin-bottom: .3rem;
	}


	&:last-child {
		margin-right: 0;
	}

	&--checkbox {
		.radio__visible {
		border-radius: 0;
		
			&:before {
				background: url('../img/icon/checkmark.svg') center center 	/ contain no-repeat;
			}
		}
	}
}

.radio__elem {
	display: none;
	
	&:checked ~ .radio__visible {
		&:before {
			display: block;
		}
	}
}

.radio__visible {
	width: 1.4rem;
	height: 1.4rem;
	position: relative;
	border-radius: 50%;
	background: #fff;
	margin-right: 0.5556rem;

	&::before {
		content: '';
		width: 0.7778rem;
		height: 0.7778rem;
		background: #FEDB3F;
		position: absolute;
		border-radius: 50%;
		display: none;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}




