 .team-section {
	position: relative;
 }


.team {
	display: flex;
	justify-content: space-between;
	gap: rem(20px);

		@include tablets {
			position: absolute;
			top: 100%;
		}

	&-tittle{
		
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__content {
		text-align: center;
		height: 0;
		overflow: hidden;
		transition: height .2s;
		position: absolute;
		top: 100%;
		width: rem(220px);

		@include tablets {
			position: relative;
			top: 0;
		}
	}

	&__member {
		margin-bottom: rem(21px);
		
		&__img {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		font-weight: 700;
		font-size: rem(21px);
		margin-bottom: rem(8px);
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__img {
			width: rem(9px);
			height: rem(9px);
			margin-left: rem(4px);
			display: inline-block;
		}
	}

	&__content-block__title {
		font-weight: 400;
		font-size: rem(18px);
		color: #000;
		margin-bottom: rem(4px);
	}
}

.team__item.active .team__title__img {
  content: "";
  transform: rotate(-180deg);
}

.team--version--desktop {
	// position: absolute;
	// top: 100%;
	position: relative;

	@include tablets {
		display: none;
	}
}

.team--version--mobile {
	display: none;
	position: absolute;
	top: 100%;

	@include tablets {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		top: 0;
	}
}